In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime, date

In [2]:
# loading the customer address data from the excel file

cust_address = pd.read_excel("Raw_data.xlsx", sheet_name="CustomerAddress")

In [3]:
# CHecking the first  rows of the dataset

cust_address.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [4]:
# Checking the Information about the dataset

cust_address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

Looking at the info we see that there are no null values present in the dataset and the dataset have 3 numerical and 3non numerical attribute.

As we can see the datatype is fine. Now lets check the data Quality and apply some data cleaning process on the data set.

# Total Records

In [5]:
print(f"Total number of rows : {cust_address.shape[0]}")
print(f"Total number of Columns : {cust_address.shape[1]}")

Total number of rows : 3999
Total number of Columns : 6

# Numerical Columns and Non-numercial Columns

In [6]:
# Checking for numerical columns
df_numeric_col = cust_address.select_dtypes(include=[np.number])
numeric_col = df_numeric_col.columns.values
print(f"This are the numeric columns : {numeric_col}")

df_non_numeric_col = cust_address.select_dtypes(exclude=[np.number])
non_numeric_col = df_non_numeric_col.columns.values
print(f"This are the non-numeric columns : {non_numeric_col}")

This are the numeric columns : ['customer_id' 'postcode' 'property_valuation']
This are the non-numeric columns : ['address' 'state' 'country']

# Missing Values Check

Checking if there is any missing values available in the Dataset. If there are any missing value available in the column then based on the situation we have to either drop those records or impute those columns with missing values.

In [7]:
# Total Number of Missing values in the Columns

cust_address.isna().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

As we can see that there is no missing value available in the data set

# 2. Inconsistency check in the dataset

We will have a inconsistency check in the data set. We will see if there is any typo error/ inconsistent data available in the data set. The columns which need to be check are columns <b> address, postal code, state, country. </b>

### 2.1 State

In [8]:
cust_address.state.value_counts()

state
NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: count, dtype: int64

Here we can see that there is inconsistency in state column. Which means the data present have two value which represent same state.

In [9]:
# creating a function for replace the state  name

def replace_state_name(state_name):
    
    if state_name == "New South Wales":
        return "NSW"
    elif state_name == "Victoria":
        return "VIC"
    else:
        return state_name
    

#Applying the above function to state column

cust_address["state"] = cust_address["state"].apply(replace_state_name)

        After applying the replace state function there is no dubplicacy in the dataset

In [11]:
cust_address.state.value_counts()

state
NSW    2140
VIC    1021
QLD     838
Name: count, dtype: int64

### 2.2 Country

In [13]:
cust_address["country"].value_counts()

country
Australia    3999
Name: count, dtype: int64

There is no consistency in the Country Columns

### 2.3 Postal code

In [16]:
cust_address[["address", "postcode", "state", "country"]].drop_duplicates()

                        address  postcode state    country
0            060 Morning Avenue      2016   NSW  Australia
1           6 Meadow Vale Court      2153   NSW  Australia
2            0 Holy Cross Court      4211   QLD  Australia
3           17979 Del Mar Point      2448   NSW  Australia
4              9 Oakridge Court      3216   VIC  Australia
...                         ...       ...   ...        ...
3994            1482 Hauk Trail      3064   VIC  Australia
3995  57042 Village Green Point      4511   QLD  Australia
3996     87 Crescent Oaks Alley      2756   NSW  Australia
3997           8194 Lien Street      4032   QLD  Australia
3998            320 Acker Drive      2251   NSW  Australia

[3999 rows x 4 columns]

There is no inconsistency / typo error in the dataset.

### 3. Duplication check

We need to ensure that there is no duplicate values available in the data. This may lead to errors in data analysis due to poor quality. If there are duplicate rows then we have to drop such records.
For checking the duplicate records we need to firstly drop the duplicate values in the customer_id by applying drop_duplicates()

In [21]:
# Dropping the primary key column i.e. customer_id and storing into a temporary dataframe.

cust_address_dupped = cust_address.drop("customer_id",axis=1).drop_duplicates()

print(f"Number of records after removing customer_id duplicate : {cust_address_dupped.shape[0]}")
print(f"Number of records before removing customer_id duplicate : {cust_address.shape[0]}")

Number of records after removing customer_id duplicate : 3999
Number of records before removing customer_id duplicate : 3999

<b> Since both the numbers are matching that means there is no duplication in the dataset. </b>

## 4. Exporting the Cleaned Customer Address Data Set to csv

In [22]:
cust_address.to_csv("CutomerAddress_cleaned.csv",index=False)